<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Let's Get Started Today!
        </h2>
        <p>
            Reach out to schedule a time to discuss our services.
        </p>
        <a href="/contact" class="cs-button-solid">Reach Out Now</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/roundrock-m.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/roundrock.webp">
        <img aria-hidden="true" decoding="async" src="/assets/images/roundrock.webp" alt="round rock" width="2500" height="1667">
    </picture>

</section>