---
title: 'Contact'
description: 'Contact Round Rock Web Design'
preloadImg: '/assets/images/roundrock.webp'
permalink: 'contact/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Contact Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/roundrock-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/roundrock.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/roundrock.webp" alt="round rock" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="cs-contact">
        <div class="cs-container">
            <form id="cs-form" name="Contact Form" netlify>
                <div class="cs-content">
                    <span class="cs-topper">Contact Us</span>
                    <h2 class="cs-title">Fill Out The Form Below</h2>
                </div>
                <label>
                    <input required type="text" id="name" name="name" placeholder="Name">
                </label>
                <label>
                    <input required type="email" id="email" name="email" placeholder="Email">
                </label>
                <label>
                    <input required type="tel" id="phone" name="phone" placeholder="Phone">
                </label>
                <label>
                    <input required type="text" id="business" name="business" placeholder="Business">
                </label>
                <label class="cs-label-message">
                    <textarea required name="Message" id="message" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-button-solid" type="submit">Submit</button>
            </form>
            <div class="cs-right-section">
                <!-- Background Image-->
                <picture class="cs-bg-picture">
                    <source media="(min-width: 601px)" srcset="/assets/images/roundrock.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/roundrock.webp" alt="round rock" loading="lazy" width="2500" height="1667">
                </picture>
            </div>
        </div>
    </section>
{% endblock %}