/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #hero-1426 {
        /* Centers button */
        text-align: center;
        /* 200px - 300px - leaving extra space for the navigation */
        padding: clamp(12.5rem, 25.95vw, 18.75em) calc(16 / 16 * 1rem);
        /* prevents the topper line from causing an overflow */
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;

            &:before {
                /* Overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: #000;
                opacity: 0.48;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: 1;
                /* prevents the cursor from interacting with it */
                pointer-events: none;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-container {
            width: 100%;
            max-width: calc(1280 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: calc(48 / 16 * 1rem);
        }

        .cs-content {
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
        }

        .cs-topper {
            /* 13px - 16px */
            font-size: clamp(.8125rem, 1.5vw, 1rem);
            line-height: 1.2em;
            font-weight: 700;
            letter-spacing: 0.1em;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: calc(16 / 16 * 1rem);
            color: var(--secondary);
            display: inline-block;
            position: relative;
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: center;
            max-width: calc(829 / 16 * 1rem);
            color: #fff;
            position: relative;
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 1.95vw, 1.25rem);
            line-height: 1.5em;
            text-align: center;
            width: 100%;
            /* 464px - 622px */
            max-width: clamp(29rem, 60vw, 38.785rem);
            margin: 0 auto 0;
            margin-bottom: calc(32 / 16 * 1rem);
            color: #fff;
        }

        .cs-button-group {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: calc(8 / 16 * 1rem);
        }

        
        }
    }


/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #hero-1426 {
            .cs-background {
                &:before {
                    opacity: 0.72;
                }
            }
        }
    }
}
                                