/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-1591 {
        padding: var(--sectionPadding);
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(630 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        

        .cs-image-group {
            /* scales the whole group based on the view width size and stop when that vales equals .745em, resets at desktop */
            font-size: min(1.959vw, .745em);
            width: calc(630 / 16 * 1em);
            /* we set a minimum height so it never gets smaller than this value */
            min-height: calc(628 / 16 * 1em);
            display: block;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            position: absolute;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-picture1 {
            /* the percentage heights allow them to be responsive to the height of the parent cs-image-group. On desktop, when the felxbox is set to aling-items: stretch, the cs-image group will stretch to fill the height of the parent container. So when you add more content to the cs-content group and make it taller, the cs-image group will get taller with it and every image will stretch with the parent, making this entire group responsive to the changing amounts of content next to it */
            width: calc(413 / 16 * 1em);
            height: 79.617834%;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .cs-picture2 {
            width: calc(413 / 16 * 1em);
            height: 44.585987%;
            bottom: 0;
            right: 0;
            z-index: 10;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-1591 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }

        .cs-content {
            /* this padding sets a minimum gap between the top and bottom of the content div and the top and bottom of the cs-image-group */
            padding: calc(60 / 16 * 1rem) 0;
            /* while the cs-image-group will stretch to fill the height of the parent, this property will ensure that the cs-content group aligns itse;f in the center of the parent div instead of stretching */
            align-self: center;
        }

        .cs-image-group {
            font-size: min(1.2vw, 1em);
            flex: none;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-1591 {
            background-color: black;
            
            .cs-title, .cs-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text {
                opacity: .8;
            }
            
            .cs-topper {
                color: var(--bodyTextColorWhite); 
            }
        }
    }
}
                                
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-942 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;
        background-color: #f7f7f7;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: calc(550 / 16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: calc(800 / 16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title,
        .cs-text {
            max-width: 100%;
        }

        .cs-card-group {
            margin: 0;
            padding: 0;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            width: 100%;
            text-align: center;
            list-style: none;
            /* margin top value to match the negative margin value of the .cs-icon-wrapper */
            margin: calc(44 / 16 * 1rem) 0 0 0;
            /* 24px - 64px bottom */
            /* 24px - 40px left & right */
            padding: 0 clamp(1.5rem, 4vw, 2.5rem) clamp(1.5rem, 6vw, 4rem);
            background-color: #f7f3ee;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            grid-column: span 12;
            grid-row: span 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 1;
            background-color: white;

            &:hover {
                .cs-h3 {
                    color: var(--bodyTextColorWhite);
                }
                .cs-item-text {
                    color: var(--bodyTextColorWhite);
                    opacity: 0.9;
                }
                .cs-background {
                    opacity: 1;
                }
            }
        }

        .cs-icon-wrapper {
            width: calc(88 / 16 * 1rem);
            height: calc(88 / 16 * 1rem);
            margin: calc(-44 / 16 * 1rem) 0 calc(36 / 16 * 1rem) 0;
            background-color: var(--primary);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cs-icon {
            width: calc(40 / 16 * 1rem);
            height: auto;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            line-height: 1.2em;
            font-weight: bold;
            margin: 0 0 calc(12 / 16 * 1rem) 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            max-width: calc(300 / 16 * 1rem);
            margin: 0 0 calc(32 / 16 * 1rem) 0;
            padding: 0;
            color: var(--bodyTextColor);
        }

        .cs-link {
            text-decoration: none;
            font-size: calc(16 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: bold;
            margin: 0;
            padding: 0;
            color: var(--primary);
            position: relative;
            transition: color 0.3s;

            &:hover {
                color: #fff;
            }

            &:before {
                /* underline */
                content: "";
                width: 100%;
                height: 1px;
                background: currentColor;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: calc(0 / 16 * 1rem);
                left: 0;
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            opacity: 0;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: opacity 0.3s;

            &:before {
                /* background color overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: #1a1a1a;
                opacity: 0.84;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }

        .cs-waves {
            width: 100%;
            height: calc(222 / 16 * 1rem);
            background-color: var(--primary);
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-942 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
        }

        .cs-item {
            grid-column: span 4;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #services-942 {
            background-color: var(--medium);
            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-item-text {
                opacity: 0.9;
            }

            .cs-item {
                background-color: black;
            }

            .cs-waves {
                opacity: 0.7;
            }
        }
    }
}

                                